streamlit
groq
python-docx
pandas
PyPDF2
Pillow
requests
streamlit-mic-recorder
openpyxl
streamlit-paste-button
gradio_client
python-dotenv
docx2txt
gspread
google-auth
reportlab
pytz
ffpyplayer
opencv-python-headless